
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
    
}

.palette {
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > h1 {
    font-size: 40px;
    color: rgb(50, 50, 50);
    text-shadow: 2px 2px rgb(200, 200, 200);
}
#colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.colorBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

#generateButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.colorText {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  #generateButton,
  #saveButton,
  #logoutButton {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  #generateButton {
    background-color: #4CAF50;
    color: white;
  }
  
  #saveButton {
    background-color: #008CBA;
    color: white;
  }
  
  #logoutButton {
    background-color: #f44336;
    color: white;
  }