<div class="register">
<div class="background">
    <div class="wrapper">
        <div class="content">
    
        <header class="hero-section">
            <img data-speed=".6" class="hero" src="../../assets/img/hero.png" alt="hero">
    
            <div class="container">
            <div data-speed="0.75" class="main-header">
                <h1 class="main-title">ChromaPalette</h1>
            </div>
            </div>
        </header>
    
        <div class="portfolio">
            <div class="container">
            <main class="gallery">
    
                <div data-speed=".9" class="gallery__left">
    
                <img class="gallery__item" src="../../assets/img/work/95133598047df75fb7c2a047d257a5b1.jpg" alt="Alt">
                <img class="gallery__item" src="../../assets/img/work/cvetovaya-palitra-4569.webp" alt="Alt">
    
                <div class="text-block gallery__item">
                    <h2 class="text-block__h">Это погружение в уникальный мир</h2>
                    <p class="text-block__p">Где каждый цвет имеет свой собственный характер, настроение и значение.
                         В этом процессе мы раскрываем тайны цвета, изучаем их взаимодействие и влияние друг на друга, исследуем их эмоциональную и символическую силу.
                </p>
                </div>
    
                <img class="gallery__item" src="../../assets/img/work/46.webp" alt="Alt">
    
                </div>
    
                <div data-speed="1.1" class="gallery__right">
    
                    <div class="text-block gallery__item">
                        <h2 class="text-block__h">Создавайте!</h2>
                        <p class="text-block__p"> Воспользуйтесь интуитивно понятным инструментом для создания собственных уникальных цветовых палитр. Вы можете выбирать из миллионов оттенков, 
                            настраивать яркость, насыщенность и оттенок, чтобы создать идеальное сочетание цветов, которое отражает вашу индивидуальность и стиль.
                        </p>
                    </div>
        
                        <img class="gallery__item" src="../../assets/img/work/1a6687be2235523aae552c9182fb1ef4.jpg" alt="Alt">
                        <img class="gallery__item" src="../../assets/img/work/160124210258cf2f6c535026301a960799d40b4a8e0f.jpeg" alt="Alt">
                        <img class="gallery__item" src="../../assets/img/work/16201242102587d817731e3f716953f80d70a951831ea.jpeg" alt="Alt">
                    
                    <div class="text block gallery__item">
                        <h2 class="text-block__h">Давайте опробуем</h2>
                        <p class="text-block__p">Откройте дверь в мир ярких эмоций с ChromaPalette! Нажмите здесь, чтобы погрузиться в безграничные возможности творчества</p>
                        <button routerLink="/register" class="btn">Погрузитесь в мир цветов</button>
                    </div>

                </div>
    
            </main>
            </div>
        </div>
    
        </div>
    </div>
</div>
</div>