
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <input type="text" placeholder="Имя пользователя" formControlName="username" />
  </div>
  <div>
    <input type="text" placeholder="Электронный адрес" formControlName="email" />
  </div>
  <div>
    <input type="password" placeholder="Пароль" formControlName="password" />
  </div>
  <div>
    <button type="submit">Зарегистрироваться</button>
  </div>
  <p>Или если у вас уже есть аккаунт, <a routerLink="/login">Войти</a></p>
  </form>

